<div class="container-fluid p-0">
    <nav class="navbar navbar-dark navbar-expand-md fixed bg-dark mb-5" data-aos="slide-down" data-aos-duration="250"
        data-aos-offset="20" data-aos-delay="50" id="mainNav">
        <div class="container">
            <a class="navbar-brand shadow-sm" href="#page-top">
                <strong>TODO APP</strong></a><button data-toggle="collapse" data-target="#navbarResponsive"
                class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars" data-aos="fade-down" data-aos-duration="250" data-aos-offset="20"
                    data-aos-delay="50"></i></button>
            <div class="collapse navbar-collapse d-md-inline-block" id="navbarResponsive"
                style="margin-right: 0px;width: 700px;">

                <ul class="nav navbar-nav d-md-inline-flex ml-auto text-uppercase"
                    style="margin: 0px 0px 0px 0px;margin-left: 0px;width: 700px;padding-left: 10px;margin-right: -250px;">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="/Home"
                            style="padding: 16.5px 15px;font-size: 15px;width: 120px;">Home</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="/Blog"
                            style="padding: 16.5px 15px;font-size: 15px;width: 120px;">Blog</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="/Contact"
                            style="padding: 16.5px 15px;font-size: 15px;width: 120px;">Contact</a>
                    </li>

                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="/Register"
                            style="padding: 16.5px 15px;font-size: 15px;width: 120px;">Register</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="/Login"
                            style="padding: 16.5px 15px;font-size: 15px;width: 100px;">Login</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    

        <div class="blog-home3 py-5">
            <div class="container">
                <!-- Row  -->
                <div class="row justify-content-center">
                    <!-- Column -->
                    <div class="col-md-8 text-center">
                        <h3 class="my-3">Latest News and Blog</h3>
                        <h6 class="subtitle font-weight-normal">You can relay on our amazing features list and also our customer
                            services will be great experience for you without doubt</h6>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                </div>
                <div class="row mt-4">
                    <!-- Column -->
                    <div class="col-lg-6">
                        <div class="card border-0 mb-4">
                            <a href="#"><img class="card-img-top"
                                    src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/blog/blog-home/img4.jpg"
                                    alt="wrappixel kit"></a>
                            <div class="date-pos text-center text-white p-3 bg-success-gradiant">JOHN DOE &nbsp; &nbsp; SEPT 15,
                                2017</div>
                            <h5 class="font-weight-medium mt-3"><a href="#" class="link text-decoration-none">Techonologies
                                    started to change Drastically</a></h5>
                            <p class="m-t-20">You can relay on our amazing features list and also our customer services will be
                                great experience. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                        </div>
                    </div>
                    <!-- Column -->
                    {{!-- <div class="col-lg-6">
                        <div class="row">
                            <!-- Column -->
                            <div class="col-md-6">
                                <div class="card border-0 mb-4">
                                    <a href="#"><img class="card-img-top"
                                            src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/blog/blog-home/img5.jpg"
                                            alt="wrappixel kit"></a>
                                    <div class="date-pos text-center text-white p-3 bg-success-gradiant">JOHN DOE &nbsp; &nbsp;
                                        SEPT 15, 2017</div>
                                    <h6 class="font-weight-medium mt-3"><a href="#" class="link text-decoration-none">New
                                            Seminar on Newest Food Recipe</a></h6>
                                </div>
                            </div>
                            <!-- Column -->
                            <div class="col-md-6">
                                <div class="card border-0 mb-4">
                                    <a href="#"><img class="card-img-top"
                                            src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/blog/blog-home/img6.jpg"
                                            alt="wrappixel kit"></a>
                                    <div class="date-pos text-center text-white p-3 bg-success-gradiant">JOHN DOE &nbsp; &nbsp;
                                        SEPT 15, 2017</div>
                                    <h6 class="font-weight-medium mt-3"><a href="#" class="link text-decoration-none">New
                                            Seminar on Newest Food Recipe</a></h6>
                                </div>
                            </div>
                            <!-- Column -->
                            <div class="col-md-6">
                                <div class="card border-0 mb-4">
                                    <a href="#"><img class="card-img-top"
                                            src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/blog/blog-home/img7.jpg"
                                            alt="wrappixel kit"></a>
                                    <div class="date-pos text-center text-white p-3 bg-success-gradiant">JOHN DOE &nbsp; &nbsp;
                                        SEPT 15, 2017</div>
                                    <h6 class="font-weight-medium mt-3"><a href="#" class="link text-decoration-none">New
                                            Seminar on Newest Food Recipe</a></h6>
                                </div>
                            </div>
                            <!-- Column -->
                            <div class="col-md-6">
                                <div class="card border-0 mb-4">
                                    <a href="#"><img class="card-img-top"
                                            src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/blog/blog-home/img8.jpg"
                                            alt="wrappixel kit"></a>
                                    <div class="date-pos text-center text-white p-3 bg-success-gradiant">JOHN DOE &nbsp; &nbsp;
                                        SEPT 15, 2017</div>
                                    <h6 class="font-weight-medium mt-3"><a href="#" class="link text-decoration-none">New
                                            Seminar on Newest Food Recipe</a></h6>
                                </div>
                            </div>
                            <!-- Column -->
                        </div>
                    </div>
                    <!-- Column -->
                </div>
            </div>

        </div> --}}

        <div class="container  mb-5 pb-5">
            {{#each data}}
            <article class="blog-item mt-3 mb-5 " style="border: 1px solid bisque;">
                <span class="row p-3">
        
                    <a href="" class="col-md-3 ">
                        <img class="pull-left img-responsive-rounded ml-2 mb-2" style="width: 90%; height:150px"
                            src='/{{this.avatar}}'>
                        
                                <p class="post-author pt-2 text-center ">
                                    {{this.author}}
                                </p>
                        
                       
                    </a>
                    <div class="text post-body col-md-9 pt-2">
                        <Span class="d-inline-flex">
                            <h2 style="width: 540px;"><a href="#">{{this.title}}
                                </a></h2>
        
                        </Span>
        
                        <h5 class="col-md-11">{{this.content}} </h5>
                        <h5><a href="#">Learn more... </a></h5>
                        <div class="post-date"> 
                            Created {{this.created_at}}</div> 
                        
                        <a href="/Follow/{{this.email}}" class="btn btn-info pull-right" >Follow Author</a>
                        
        
        
        
                    </div>
                    {{#if current_user}}
                    <div class="post-footer">
                        helo
                        <a href="">
                            <span class="label label-primary">Edit</span>
                        </a>
        
                    </div>
                    {{/if}}
        
                </span>
                <div class="clearfix"></div>
            </article>
            {{/each}}
        </div>