<div class="container-fluid p-0 mb-5">
    <nav class="navbar navbar-dark navbar-expand-md fixed-top bg-dark" data-aos="slide-down" data-aos-duration="250"
        data-aos-offset="20" data-aos-delay="50" id="mainNav"
        style="filter: blur(0px) contrast(99%) hue-rotate(0deg) invert(0%) saturate(67%) sepia(0%);background-color: transparent;">
        <div class="container">
            <a class="navbar-brand shadow-sm" href="#page-top">
                <strong>TODO APP</strong></a><button data-toggle="collapse" data-target="#navbarResponsive"
                class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars" data-aos="fade-down" data-aos-duration="250" data-aos-offset="20"
                    data-aos-delay="50"></i></button>
            <div class="collapse navbar-collapse d-md-inline-block" id="navbarResponsive"
                style="width: 800px;">

                <ul class="nav navbar-nav d-md-inline-flex ml-auto text-uppercase"
                    style="margin: 0px 0px 0px 0px;margin-left: 0px;width: 600px;padding-left: 10px;margin-right: -100px;">
                    <li class="nav-item" role="presentation"></li>

                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-light" href="/user/dashboard"
                            style="padding: 7.5px 15px;font-size: 15px;width: 100px;">Home</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-light" href="/user/Blog"
                            style="padding: 7.5px 15px;font-size: 15px;width: 100px;">Blog</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-light" href="/user/Todo"
                            style="padding: 7.5px 15px;font-size: 15px;width: 100px;">TodoList</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-light" href="/user/Quotes"
                            style="padding: 7.5px 15px;font-size: 15px;width: 100px;">Quotes</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-light" href="/user/Logout"
                            style="padding: 7.5px 15px;font-size: 15px;width: 100px;">Logout</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="row m-auto mt-5 pt-5">
    <div class="col-md-8 ">
    <ul class="posts">
        {{#each data}}
        <li class="post">
            <div class="profile-thumbnail">
                <a href="">
                    <img class="img-rounded profile-thumbnail" src="">
                </a>
            </div>
            <div>{{this.Title}}</div>
            <div class="post-date"> {{this.Created_at}}</div>
            <div class="post-author">
                {{Name}}
            </div>
            
            <div class="post-body">{{this.Content}}</div>
        </li>
        {{/each}}
    </ul>
    </div>


    <div class="col-md-3 ml-5" style="border: 1px solid rgb(221, 221, 221);">
        <div class="container pt-2">
            <h2 class="p-2"><i>{{Name}}</i><i class="fas fa-user pl-2"></i></h2>
            <p class="text-center p-1">Talk more about yourself <br>and what's on your mind</p>
        </div>
        <div class="container p-3">
            <h4>Create and edit your Post <i class="fas fa-edit"></i></h4>

        </div>

        <form action="/user/Blog" method="POST" class="container  mt-2 p-3" >
            <div class="form-group">
                <label for="name">Title</label>
                <input type="text" name="Title" class="form-control" placeholder="Post title" required>
            </div>
            <div class="form-group ">
                <label for="content">Content</label>
                <textarea name="Content"  cols="30" rows="10" class="form-control" placeholder="What is on your mind?" required></textarea>
            </div>
            <input type="submit" value="Post" class="btn btn-info  text-dark col-sm-12">
        </form>
    </div>

</div>