<div class="container-fluid p-0 mb-5">
    <nav class="navbar navbar-dark navbar-expand-md fixed bg-dark" data-aos="slide-down" data-aos-duration="250"
        data-aos-offset="20" data-aos-delay="50" id="mainNav"
        style="filter: blur(0px) contrast(99%) hue-rotate(0deg) invert(0%) saturate(67%) sepia(0%);background-color: transparent;">
        <div class="container">
            <a class="navbar-brand shadow-sm" href="#page-top">
                <strong>TODO APP</strong></a><button data-toggle="collapse" data-target="#navbarResponsive"
                class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars" data-aos="fade-down" data-aos-duration="250" data-aos-offset="20"
                    data-aos-delay="50"></i></button>
            <div class="collapse navbar-collapse d-md-inline-block" id="navbarResponsive"
                style="width: 700px;">

                <ul class="nav navbar-nav d-md-inline-flex ml-auto text-uppercase"
                    style="margin: 0px 0px 0px 0px;margin-left: 0px;width: 700px;padding-left: 10px;margin-right: -250px;">
                    <li class="nav-item" role="presentation"></li>

                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-light" href="/user/dashboard"
                            style="padding: 7.5px 15px;font-size: 15px;width: 100px;">Home</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-light" href="/user/Blog"
                            style="padding: 7.5px 15px;font-size: 15px;width: 100px;">Blog</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-light" href="/user/TodoList"
                            style="padding: 7.5px 15px;font-size: 15px;width: 100px;">TodoList</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-light" href="/user/Quotes"
                            style="padding: 7.5px 15px;font-size: 15px;width: 100px;">Quotes</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-light" href="/user/Logout"
                            style="padding: 7.5px 15px;font-size: 15px;width: 100px;">Logout</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="row m-auto mt-1 pt-1">
   
        
               
    <div class="col-md-8 mb-5 ">
        {{#each data}}
        <article class="blog-item mt-3 mb-5 " style="border: 1px solid bisque;">
            <span class="row p-1">

                <a href="" class="col-md-3 " >
                    <img class="pull-left img-responsive-rounded ml-2 mb-2" style="width: 90%; height:30vh" src='/{{this.avatar}}'>
                    <p class="post-author pt-3 text-center ">
                        {{this.author}}
                    </p>
                </a>
                <div class="text post-body col-md-9 pt-2">
                    <Span class="d-inline-flex">
                        <h2 style="width: 540px;"><a href="#">{{this.title}}
                            </a></h2>
                        
                    </Span>
                    
                    <h5 class="col-md-11">{{this.content}} </h5>
                    <h5><a href="#">Learn more... </a></h5>
                    <div class="post-date"> Created {{this.created_at}}</div>
                    
                   <div class=" bottom mt-2 mb-0 p-2 m-1 ">
                       <a class=" col-xs-2 btn btn-light p-2 mb-2 " style="margin-right: 10px;" href="/user/Like/{{this.id}}"> <i class="fa fa-thumbs-o-up text-center pr-3"
                        aria-hidden="true" style="color: blue; font-size:22px "></i>{{this.postlike}}</a>
                        <form action="/user/comment/{{this.id}}" method="post"  class="row">
                        <textarea class=" col-7 form-control mr-1 ml-1" placeholder="comment" 
                        style=" height:40px" name="Comment"></textarea>
                        <button class="col-xs-2 btn btn-info">comment</button>
                    </form>
                        
                   </div>
                               
                                        
                </div>
               

            </span>
               <div class="clearfix"></div>
        </article>
    {{/each}}
    </div>
    


    <div class="col-md-3 ml-3"  >
        <div class="container pt-2" style="height:fit-content;border: 1px solid rgb(221, 221, 221);">
           <div>
            <h2 class="p-2 text-center"><i>{{Name}}</i><i class="fas fa-user pl-4"></i></h2>
            <p class="text-center p-1">Talk more about yourself <br>and what's on your mind</p>
        </div>
        <div class="container p-3">
            <h4>Create and edit your Post <i class="fas fa-edit"></i></h4>

        </div>

        <form action="/user/Blog" method="POST" class="container  mt-2 p-3" >
            <div class="form-group">
                <label for="name">Title</label>
                <input type="text" name="Title" class="form-control" placeholder="Post title" required>
            </div>
            <div class="form-group ">
                <label for="content">Content</label>
                <textarea name="Content"  cols="30" rows="10" class="form-control" placeholder="What is on your mind?" required></textarea>
            </div>
            <input type="submit" value="Post" class="btn btn-info  text-dark col-sm-12">
        </form>
        </div>
    </div>

</div>