<div class="container-fluid p-0 mb-5">
    <nav class="navbar navbar-dark navbar-expand-md fixed bg-dark" data-aos="slide-down" data-aos-duration="250"
        data-aos-offset="20" data-aos-delay="50" id="mainNav"
        style="filter: blur(0px) contrast(99%) hue-rotate(0deg) invert(0%) saturate(67%) sepia(0%);background-color: transparent;">
        <div class="container">
            <a class="navbar-brand shadow-sm" href="#page-top">
                <strong>TODO APP</strong></a><button data-toggle="collapse" data-target="#navbarResponsive"
                class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars" data-aos="fade-down" data-aos-duration="250" data-aos-offset="20"
                    data-aos-delay="50"></i></button>
            <div class="collapse navbar-collapse d-md-inline-block" id="navbarResponsive" style="width: 700px;">

                <ul class="nav navbar-nav d-md-inline-flex ml-auto text-uppercase"
                    style="margin: 0px 0px 0px 0px;margin-left: 0px;width: 700px;padding-left: 10px;margin-right: -250px;">
                    <li class="nav-item" role="presentation"></li>

                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-light" href="/user/dashboard"
                            style="padding: 7.5px 15px;font-size: 15px;width: 100px;">Home</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-light" href="/user/Blog"
                            style="padding: 7.5px 15px;font-size: 15px;width: 100px;">Blog</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-light" href="/user/TodoList"
                            style="padding: 7.5px 15px;font-size: 15px;width: 100px;">TodoList</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-light" href="/user/Quotes"
                            style="padding: 7.5px 15px;font-size: 15px;width: 100px;">Quotes</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-light" href="/user/Logout"
                            style="padding: 7.5px 15px;font-size: 15px;width: 100px;">Logout</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="row">
    <div class="col-md-8 mb-5 pb-5">
        {{#each data}}
        <article class="blog-item mt-3 mb-5 " style="border: 1px solid bisque;">
            <span class="row p-3">
    
                <a href="" class="col-md-3 ">
                    <img class="pull-left img-responsive-rounded ml-2 mb-2" style="width: 90%; height:150px"
                        src='/{{this.avatar}}'>
                    <p class="post-author pt-3 text-center ">
                        {{this.author}}
                    </p>
                </a>
                <div class="text post-body col-md-9 pt-2">
                    <Span class="d-inline-flex">
                        <h2 style="width: 540px;"><a href="#">{{this.title}}
                            </a></h2>
    
                    </Span>
    
                    <h5 class="col-md-11">{{this.content}} </h5>
                    <h5><a href="#">Learn more... </a></h5>
                    <div class="post-date"> Created {{this.created_at}}</div>
    
    
    
                </div>
                {{#if current_user}}
                <div class="post-footer">
                    helo
                    <a href="">
                        <span class="label label-primary">Edit</span>
                    </a>
    
                </div>
                {{/if}}
    
            </span>
            <div class="clearfix"></div>
        </article>
        {{/each}}
    </div>


    <div class=" col-md-3  border rounded-0 shadow-sm profile-box"
        style="width: 100%; height:80vh; background-color: #ffffff;margin: 5px;">
        <div class="text-center">
            <img class="rounded-circle m-3 " src='/{{Avatar}}' width="100px" height="100px"
                style="background-color: rgb(255,255,255);padding: 2px;"></div>
    {{#each Profile}}
       
        <div class="text-center"style="height: 80px;">
            <h4>{{this.name}}</h4>
            <p style="font-size: 12px;">Profile Description</p>
        </div>
        <div class="ml-1">
            <p><b class="pr-2 mb-3">Email:</b> {{this.email}}</p>
            <p><b class="pr-2 mb-3">Occupation:</b> {{this.occupation}}</p>
            <p><b class="pr-2 mb-3">Skills:</b> {{this.skills}}</p>
            <p><b class="pr-2 mb-3">Hobbies:</b> {{this.hobbies}}</p>
        </div>
        <div class="mb-4 pb-4">
            {{this.About}}
        </div>
        {{/each}}
            

        <div >
            <a class="btn btn-info bottom " style="width:150px" id="follow" href="/user/{{FollowChange}}/{{Author}}">{{FollowChange}} </a>
        </div>
       
        
</div>

